*.iml
.gradle
/local.properties
.dart_tool/
.env
android/app/google-services.json
# Backend
/lib/backend/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Backend
/lib/backend/

web/firebase-messaging-sw.js
